BoluKetan_ProjectDisprog/xml-resources/web-service-references/ReservasiWSService/wsdl/localhost_8080/Server1/ReservasiWSService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Service/" name="ReservasiWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://Service/" schemaLocation="http://localhost:8080/Server1/ReservasiWSService?xsd=1"/>
</xsd:schema>
</types>
<message name="simpanPesananMakanan">
<part name="parameters" element="tns:simpanPesananMakanan"/>
</message>
<message name="simpanPesananMakananResponse">
<part name="parameters" element="tns:simpanPesananMakananResponse"/>
</message>
<message name="lihatPesanan">
<part name="parameters" element="tns:lihatPesanan"/>
</message>
<message name="lihatPesananResponse">
<part name="parameters" element="tns:lihatPesananResponse"/>
</message>
<message name="cariMejaTersedia">
<part name="parameters" element="tns:cariMejaTersedia"/>
</message>
<message name="cariMejaTersediaResponse">
<part name="parameters" element="tns:cariMejaTersediaResponse"/>
</message>
<message name="tambahReservasi">
<part name="parameters" element="tns:tambahReservasi"/>
</message>
<message name="tambahReservasiResponse">
<part name="parameters" element="tns:tambahReservasiResponse"/>
</message>
<message name="lihatReservasi">
<part name="parameters" element="tns:lihatReservasi"/>
</message>
<message name="lihatReservasiResponse">
<part name="parameters" element="tns:lihatReservasiResponse"/>
</message>
<message name="updateReservasi">
<part name="parameters" element="tns:updateReservasi"/>
</message>
<message name="updateReservasiResponse">
<part name="parameters" element="tns:updateReservasiResponse"/>
</message>
<message name="batalkanReservasi">
<part name="parameters" element="tns:batalkanReservasi"/>
</message>
<message name="batalkanReservasiResponse">
<part name="parameters" element="tns:batalkanReservasiResponse"/>
</message>
<portType name="ReservasiWS">
<operation name="simpanPesananMakanan">
<input wsam:Action="http://Service/ReservasiWS/simpanPesananMakananRequest" message="tns:simpanPesananMakanan"/>
<output wsam:Action="http://Service/ReservasiWS/simpanPesananMakananResponse" message="tns:simpanPesananMakananResponse"/>
</operation>
<operation name="lihatPesanan">
<input wsam:Action="http://Service/ReservasiWS/lihatPesananRequest" message="tns:lihatPesanan"/>
<output wsam:Action="http://Service/ReservasiWS/lihatPesananResponse" message="tns:lihatPesananResponse"/>
</operation>
<operation name="cariMejaTersedia">
<input wsam:Action="http://Service/ReservasiWS/cariMejaTersediaRequest" message="tns:cariMejaTersedia"/>
<output wsam:Action="http://Service/ReservasiWS/cariMejaTersediaResponse" message="tns:cariMejaTersediaResponse"/>
</operation>
<operation name="tambahReservasi">
<input wsam:Action="http://Service/ReservasiWS/tambahReservasiRequest" message="tns:tambahReservasi"/>
<output wsam:Action="http://Service/ReservasiWS/tambahReservasiResponse" message="tns:tambahReservasiResponse"/>
</operation>
<operation name="lihatReservasi">
<input wsam:Action="http://Service/ReservasiWS/lihatReservasiRequest" message="tns:lihatReservasi"/>
<output wsam:Action="http://Service/ReservasiWS/lihatReservasiResponse" message="tns:lihatReservasiResponse"/>
</operation>
<operation name="updateReservasi">
<input wsam:Action="http://Service/ReservasiWS/updateReservasiRequest" message="tns:updateReservasi"/>
<output wsam:Action="http://Service/ReservasiWS/updateReservasiResponse" message="tns:updateReservasiResponse"/>
</operation>
<operation name="batalkanReservasi">
<input wsam:Action="http://Service/ReservasiWS/batalkanReservasiRequest" message="tns:batalkanReservasi"/>
<output wsam:Action="http://Service/ReservasiWS/batalkanReservasiResponse" message="tns:batalkanReservasiResponse"/>
</operation>
</portType>
<binding name="ReservasiWSPortBinding" type="tns:ReservasiWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="simpanPesananMakanan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lihatPesanan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cariMejaTersedia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tambahReservasi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lihatReservasi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateReservasi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="batalkanReservasi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ReservasiWSService">
<port name="ReservasiWSPort" binding="tns:ReservasiWSPortBinding">
<soap:address location="http://localhost:8080/Server1/ReservasiWSService"/>
</port>
</service>
</definitions>