BoluKetan_ProjectDisprog/xml-resources/web-service-references/MejaWSService/wsdl/localhost_8080/Server1/MejaWSService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://Service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Service/">

<xs:element name="lihatMeja" type="tns:lihatMeja"/>

<xs:element name="lihatMejaResponse" type="tns:lihatMejaResponse"/>

<xs:element name="mejaBerdasarkanStatus" type="tns:mejaBerdasarkanStatus"/>

<xs:element name="mejaBerdasarkanStatusResponse" type="tns:mejaBerdasarkanStatusResponse"/>

<xs:element name="tambahMeja" type="tns:tambahMeja"/>

<xs:element name="tambahMejaResponse" type="tns:tambahMejaResponse"/>

<xs:element name="updateStatus" type="tns:updateStatus"/>

<xs:element name="updateStatusResponse" type="tns:updateStatusResponse"/>

<xs:complexType name="tambahMeja">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tambahMejaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateStatus">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateStatusResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lihatMeja">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="lihatMejaResponse">
<xs:sequence>
<xs:element name="return" type="tns:meja" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="meja">
<xs:complexContent>
<xs:extension base="tns:myModel">
<xs:sequence>
<xs:element name="idMeja" type="xs:int"/>
<xs:element name="jumlah_konsumen" type="xs:int"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="myModel" abstract="true">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="mejaBerdasarkanStatus">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mejaBerdasarkanStatusResponse">
<xs:sequence>
<xs:element name="return" type="tns:meja" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>