BoluKetan_ProjectDisprog/src/META-INF/wsdl/localhost_8080/Server1/MejaWSService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Service/" name="MejaWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://Service/" schemaLocation="http://localhost:8080/Server1/MejaWSService?xsd=1"/>
</xsd:schema>
</types>
<message name="tambahMeja">
<part name="parameters" element="tns:tambahMeja"/>
</message>
<message name="tambahMejaResponse">
<part name="parameters" element="tns:tambahMejaResponse"/>
</message>
<message name="lihatMeja">
<part name="parameters" element="tns:lihatMeja"/>
</message>
<message name="lihatMejaResponse">
<part name="parameters" element="tns:lihatMejaResponse"/>
</message>
<message name="updateStatus">
<part name="parameters" element="tns:updateStatus"/>
</message>
<message name="updateStatusResponse">
<part name="parameters" element="tns:updateStatusResponse"/>
</message>
<portType name="MejaWS">
<operation name="tambahMeja">
<input wsam:Action="http://Service/MejaWS/tambahMejaRequest" message="tns:tambahMeja"/>
<output wsam:Action="http://Service/MejaWS/tambahMejaResponse" message="tns:tambahMejaResponse"/>
</operation>
<operation name="lihatMeja">
<input wsam:Action="http://Service/MejaWS/lihatMejaRequest" message="tns:lihatMeja"/>
<output wsam:Action="http://Service/MejaWS/lihatMejaResponse" message="tns:lihatMejaResponse"/>
</operation>
<operation name="updateStatus">
<input wsam:Action="http://Service/MejaWS/updateStatusRequest" message="tns:updateStatus"/>
<output wsam:Action="http://Service/MejaWS/updateStatusResponse" message="tns:updateStatusResponse"/>
</operation>
</portType>
<binding name="MejaWSPortBinding" type="tns:MejaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="tambahMeja">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lihatMeja">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MejaWSService">
<port name="MejaWSPort" binding="tns:MejaWSPortBinding">
<soap:address location="http://localhost:8080/Server1/MejaWSService"/>
</port>
</service>
</definitions>