BoluKetan_ProjectDisprog/src/META-INF/wsdl/localhost_8080/Server1/MenuWSService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Service/" name="MenuWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://Service/" schemaLocation="http://localhost:8080/Server1/MenuWSService?xsd=1"/>
</xsd:schema>
</types>
<message name="lihatMenu">
<part name="parameters" element="tns:lihatMenu"/>
</message>
<message name="lihatMenuResponse">
<part name="parameters" element="tns:lihatMenuResponse"/>
</message>
<message name="deleteMenu">
<part name="parameters" element="tns:deleteMenu"/>
</message>
<message name="deleteMenuResponse">
<part name="parameters" element="tns:deleteMenuResponse"/>
</message>
<message name="updateMenu">
<part name="parameters" element="tns:updateMenu"/>
</message>
<message name="updateMenuResponse">
<part name="parameters" element="tns:updateMenuResponse"/>
</message>
<message name="tambahMenu">
<part name="parameters" element="tns:tambahMenu"/>
</message>
<message name="tambahMenuResponse">
<part name="parameters" element="tns:tambahMenuResponse"/>
</message>
<portType name="MenuWS">
<operation name="lihatMenu">
<input wsam:Action="http://Service/MenuWS/lihatMenuRequest" message="tns:lihatMenu"/>
<output wsam:Action="http://Service/MenuWS/lihatMenuResponse" message="tns:lihatMenuResponse"/>
</operation>
<operation name="deleteMenu">
<input wsam:Action="http://Service/MenuWS/deleteMenuRequest" message="tns:deleteMenu"/>
<output wsam:Action="http://Service/MenuWS/deleteMenuResponse" message="tns:deleteMenuResponse"/>
</operation>
<operation name="updateMenu">
<input wsam:Action="http://Service/MenuWS/updateMenuRequest" message="tns:updateMenu"/>
<output wsam:Action="http://Service/MenuWS/updateMenuResponse" message="tns:updateMenuResponse"/>
</operation>
<operation name="tambahMenu">
<input wsam:Action="http://Service/MenuWS/tambahMenuRequest" message="tns:tambahMenu"/>
<output wsam:Action="http://Service/MenuWS/tambahMenuResponse" message="tns:tambahMenuResponse"/>
</operation>
</portType>
<binding name="MenuWSPortBinding" type="tns:MenuWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="lihatMenu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteMenu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateMenu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tambahMenu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MenuWSService">
<port name="MenuWSPort" binding="tns:MenuWSPortBinding">
<soap:address location="http://localhost:8080/Server1/MenuWSService"/>
</port>
</service>
</definitions>