BoluKetan_ProjectDisprog/src/META-INF/wsdl/localhost_8080/Server1/MenuWSService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://Service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Service/">

<xs:element name="deleteMenu" type="tns:deleteMenu"/>

<xs:element name="deleteMenuResponse" type="tns:deleteMenuResponse"/>

<xs:element name="lihatMenu" type="tns:lihatMenu"/>

<xs:element name="lihatMenuResponse" type="tns:lihatMenuResponse"/>

<xs:element name="tambahMenu" type="tns:tambahMenu"/>

<xs:element name="tambahMenuResponse" type="tns:tambahMenuResponse"/>

<xs:element name="updateMenu" type="tns:updateMenu"/>

<xs:element name="updateMenuResponse" type="tns:updateMenuResponse"/>

<xs:complexType name="tambahMenu">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:double"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tambahMenuResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lihatMenu">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="lihatMenuResponse">
<xs:sequence>
<xs:element name="return" type="tns:menu" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="menu">
<xs:complexContent>
<xs:extension base="tns:myModel">
<xs:sequence>
<xs:element name="harga" type="xs:double"/>
<xs:element name="idMenu" type="xs:int"/>
<xs:element name="informasi" type="xs:string" minOccurs="0"/>
<xs:element name="kategori" type="xs:string" minOccurs="0"/>
<xs:element name="nama" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="myModel" abstract="true">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="updateMenu">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:double"/>
<xs:element name="arg4" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateMenuResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteMenu">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteMenuResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>