BoluKetan_ProjectDisprog/src/META-INF/wsdl/localhost_8080/Server1/ReservasiWSService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://Service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Service/">

<xs:element name="batalkanReservasi" type="tns:batalkanReservasi"/>

<xs:element name="batalkanReservasiResponse" type="tns:batalkanReservasiResponse"/>

<xs:element name="cariMejaTersedia" type="tns:cariMejaTersedia"/>

<xs:element name="cariMejaTersediaResponse" type="tns:cariMejaTersediaResponse"/>

<xs:element name="lihatPesanan" type="tns:lihatPesanan"/>

<xs:element name="lihatPesananResponse" type="tns:lihatPesananResponse"/>

<xs:element name="lihatReservasi" type="tns:lihatReservasi"/>

<xs:element name="lihatReservasiResponse" type="tns:lihatReservasiResponse"/>

<xs:element name="simpanPesananMakanan" type="tns:simpanPesananMakanan"/>

<xs:element name="simpanPesananMakananResponse" type="tns:simpanPesananMakananResponse"/>

<xs:element name="tambahReservasi" type="tns:tambahReservasi"/>

<xs:element name="tambahReservasiResponse" type="tns:tambahReservasiResponse"/>

<xs:element name="updateReservasi" type="tns:updateReservasi"/>

<xs:element name="updateReservasiResponse" type="tns:updateReservasiResponse"/>

<xs:complexType name="cariMejaTersedia">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cariMejaTersediaResponse">
<xs:sequence>
<xs:element name="return" type="tns:meja" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="meja">
<xs:complexContent>
<xs:extension base="tns:myModel">
<xs:sequence>
<xs:element name="idMeja" type="xs:int"/>
<xs:element name="jumlah_konsumen" type="xs:int"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="myModel" abstract="true">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="lihatReservasi">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="lihatReservasiResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservasi" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservasi">
<xs:complexContent>
<xs:extension base="tns:myModel">
<xs:sequence>
<xs:element name="idreservasi" type="xs:int"/>
<xs:element name="jam_reservasi" type="tns:timestamp" minOccurs="0"/>
<xs:element name="jumlah_tamu" type="xs:int"/>
<xs:element name="meja_idmeja" type="xs:int"/>
<xs:element name="status_reservasi" type="xs:string" minOccurs="0"/>
<xs:element name="tanggal_reservasi" type="tns:timestamp" minOccurs="0"/>
<xs:element name="total_harga" type="xs:double"/>
<xs:element name="user_iduser" type="xs:int"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="timestamp">
<xs:sequence>
<xs:element name="nanos" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateReservasi">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:int"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:int"/>
<xs:element name="arg4" type="xs:int"/>
<xs:element name="arg5" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateReservasiResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="simpanPesananMakanan">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:int"/>
<xs:element name="arg2" type="xs:int"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="simpanPesananMakananResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tambahReservasi">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:int"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:int"/>
<xs:element name="arg4" type="xs:int"/>
<xs:element name="arg5" type="xs:string" minOccurs="0"/>
<xs:element name="arg6" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tambahReservasiResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lihatPesanan">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lihatPesananResponse">
<xs:sequence>
<xs:element name="return" type="tns:pemesananMakanan" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pemesananMakanan">
<xs:complexContent>
<xs:extension base="tns:myModel">
<xs:sequence>
<xs:element name="idMenu" type="xs:int"/>
<xs:element name="idReservasi" type="xs:int"/>
<xs:element name="jumlah" type="xs:int"/>
<xs:element name="status_pemesanan" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="batalkanReservasi">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="batalkanReservasiResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>