BoluKetan_ProjectDisprog/xml-resources/web-service-references/UserWSService/wsdl/localhost_8080/Server1/UserWSService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Service/" name="UserWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://Service/" schemaLocation="http://localhost:8080/Server1/UserWSService?xsd=1"/>
</xsd:schema>
</types>
<message name="elogin">
<part name="parameters" element="tns:elogin"/>
</message>
<message name="eloginResponse">
<part name="parameters" element="tns:eloginResponse"/>
</message>
<message name="eregister">
<part name="parameters" element="tns:eregister"/>
</message>
<message name="eregisterResponse">
<part name="parameters" element="tns:eregisterResponse"/>
</message>
<message name="egetData">
<part name="parameters" element="tns:egetData"/>
</message>
<message name="egetDataResponse">
<part name="parameters" element="tns:egetDataResponse"/>
</message>
<portType name="UserWS">
<operation name="elogin">
<input wsam:Action="http://Service/UserWS/eloginRequest" message="tns:elogin"/>
<output wsam:Action="http://Service/UserWS/eloginResponse" message="tns:eloginResponse"/>
</operation>
<operation name="eregister">
<input wsam:Action="http://Service/UserWS/eregisterRequest" message="tns:eregister"/>
<output wsam:Action="http://Service/UserWS/eregisterResponse" message="tns:eregisterResponse"/>
</operation>
<operation name="egetData">
<input wsam:Action="http://Service/UserWS/egetDataRequest" message="tns:egetData"/>
<output wsam:Action="http://Service/UserWS/egetDataResponse" message="tns:egetDataResponse"/>
</operation>
</portType>
<binding name="UserWSPortBinding" type="tns:UserWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="elogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eregister">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="egetData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UserWSService">
<port name="UserWSPort" binding="tns:UserWSPortBinding">
<soap:address location="http://localhost:8080/Server1/UserWSService"/>
</port>
</service>
</definitions>